.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
}
.search-bar input{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid grey;
}
.search-bar button{
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: 200;
    background-color: rgb(172 193 240);
    cursor: pointer;
}